rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 1. دالة كتعرف بلي نتا هو "المدير" بهاد الـ UID
    function isAdmin() {
      return request.auth.uid == "RaPnwD08YvNlKAs4YlN7EJJdFd62"; 
    }

    match /users/{userId} {
      // 2. القراءة (Read):
      // - الطالب: عندو الحق يشوف غير المعلومات ديالو بوحدو.
      // - المدير (نتا): عندك الحق تشوف كاع الطلبة (باش يبانو فالداشبورد).
      allow read: if (request.auth != null && request.auth.uid == userId) || isAdmin();

      // 3. الكتابة (Write):
      // - الطالب: عندو الحق يصاوب كونت أو يبدل تصويرتو (Create/Update).
      // - المدير (نتا): عندك الحق تعدل أي ملف (باش تزيد الاشتراكات فالداشبورد).
      allow write: if (request.auth != null && request.auth.uid == userId) || isAdmin();
    }
  }
}