@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Tajawal', sans-serif;
}

body {
  font-family: 'Tajawal', sans-serif;
}

/* إخفاء السكرول بار مع الحفاظ على الوظيفية */
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

